<a class="logo" href="{{ site.url }}">
    Bouvet
</a>

<div role="navigation">

    <input type="checkbox"
           id="menuToggler"
           class="menuToggler visuallyhidden"
           aria-hidden="true"
           tabindex="-1">

    <button id="menuTogglerBtn"
            class="menuTogglerBtn"
            aria-controls="menu"
            aria-haspopup="true"
            aria-expanded="false"
            tabindex="0">
                <span class="hamburger">
                    <span class="visuallyhidden">Visa och dölj huvudmeny</span>
                    <span class="hamburger__icon"></span>
                </span>
    </button>

    <div id="menu"
         class="menu">

        <ul class="menu__items">

            <li class="menu__item">
                <a href="#top" class="menu__itemLnk">Om Bouvet</a>
            </li>
            <li class="menu__item">
                <a href="#test" class="menu__itemLnk">Referensprojekt</a>
            </li>
            <li class="menu__item">
                <a href="#test" class="menu__itemLnk">SiteVision-kunder</a>
            </li>
            <li class="menu__item">
                <a href="#test" class="menu__itemLnk">Teamet</a>
            </li>
            <li class="menu__item">
                <a href="#test" class="menu__itemLnk">Kontakta oss</a>
            </li>
        </ul>

    </div>
</div><!-- role=navigation -->