// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$avenir: "AvenirNext-Regular", "Avenir-Roman", "Segoe UI", Arial, Helvetica, sans-serif;
$arvo: Rockwell, 'Arvo', AmericanTypewriter, Georgia, serif;
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;

$white: #fff;
$black: #000;

$text-color: #000;

$light-grey: #f0f0f0;
$dark-grey: #504D47;

$bouvet-orange: #ff6300;

$max-width: 1306px;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
);


