
.block {
    position: relative;
    z-index: 1;

    &--largeTxtBlock {
        text-align: center;
        font-size: rem( 22px, true );
        margin: 80px 0;
    }

    &--quoteBlock {
        background-color: $light-grey;
        padding: 80px 0 40px;
        margin-bottom: 0;
        font-size: rem( 15px, true );

        blockquote {
            font-size: rem( 22px, true );
            max-width: 40em;
            margin: 0 auto 80px;

            &::before {
                content: "“";
            }
            &::after {
                content: "”";
            }
        }
    }

    &--img {
        position: relative;
        z-index: 2;
        padding: percentage( 860 / 1274 ) 0 0;
        background: {
            color: $bouvet-orange;
        };

        .ct--3col & {
            @include media-medium-and-up {
                padding: percentage( 860 / 828 ) 0 0;
            }
        }
    }
}

.blockBg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: {
        size: 100% auto;
        size: cover;
        position: 50% 50%;
        repeat: no-repeat;
    };
    opacity: 1;
    transition: opacity .3s;

    .block.active & {
        opacity: 0;
    }

    &--1x { display: block; }
    &--2x { display: none; }

    .ct--2col & {
        &--1x { display: block; }
        &--2x { display: none; }

        @media ( min-width: 1200px ) and ( min-resolution: 192dpi ) {
            &--1x { display: none; }
            &--2x { display: block; }
        }
    }

    .ct--3col & {
        &--1x { display: block; }
        &--2x { display: none; }

        @media ( min-width: 446px ) {
            &--1x { display: none; }
            &--2x { display: block; }
        }

        @media ( min-width: 768px ) {
            &--1x { display: block; }
            &--2x { display: none; }
        }

        @media ( min-width: 1200px ) and ( min-resolution: 192dpi ) {
            &--1x { display: none; }
            &--2x { display: block; }
        }
    }

    .ct--3col .col:nth-child( 1 ) &,
    .ct--3col .col:nth-child( 2 ) & {
        @media ( min-width: 684px ) and ( max-width: 767px ) {
            &--1x { display: block; }
            &--2x { display: none; }
        }
    }

    &__txt {
        position: absolute;
        z-index: 2;
        right: 16px;
        bottom: 0;
        left: 16px;
        padding: 10px 10px 50px;
        transition: all .3s;
        cursor: pointer;
        background-position: 100% -100%;

        h2,
        p {
            font: {
                family: $avenir;
                size: rem( 22px, true );
            }
            color: $white;
            margin: 0;
        }

        p {
            font-size: rem( 15px, true );
        }

    }


    .block:not(.active):hover & {
        cursor: pointer;

        ~ .blockBg__txt {
            padding-bottom: 100px;
            @extend %triangle-svg;
            background: {
                color: rgba( $white, .2 );
                position: right top;
                repeat: no-repeat;
                size: 25px auto;
            }
        }
    }
}

.tableList {
    @include listReset;
    border-top: 1px solid $light-grey;
    columns: 1;
    column-gap: 0;
    margin: 0 0 70px 0;

    @include media-small-and-up {
        columns: 2;
    }
    @include media-large-and-up {
        columns: 3;
    }

    &__heading {
        font: {
            family: $avenir;
            weight: 400;
            size: rem(22px);
        }
        line-height: ( 55 / 22 );
        margin: 50px 0 0;
    }

    &__item {
        display: block;
        line-height: ( 55 / 15 );
        border-bottom: 1px solid $light-grey;
    }

    &__lnk {
        position: relative;

        @include link-visited( true ) {
            color: $black;
        }

        @include on-event {
            text-decoration: none;
            &:after {
                cursor: pointer;
                content: "";
                position: absolute;
                left: 0;
                bottom: .1em;
                right: 0;
                height: 1px;
                background-color: rgba( $bouvet-orange, .5 );
            }
        }
    }

}

ul.teamMembers {
    margin-bottom: 60px;
}

.teamMember {
    padding: 0 0 20px;

    &__imgWrapper {
        position: relative;
        z-index: 1;
        font: {
            family: $rockwell;
            size: rem( 22px, true );
            weight: 300;
        }
        font-size: 7vw;
        line-height: 1;
        text-align: center;
        color: $white;

        @media (min-width: 512px) {
            font-size: rem( 18px, true );
            font-size: 3.5vw;
        }

        @media (min-width: 768px) {
            font-size: rem( 12px, true );
            font-size: 1.75vw;
        }

        @media (min-width: 1338px) {
            font-size: rem( 24px, true );
        }
    }

    &__img {

    }

    &__pos {
        position: absolute;
        right: 0;
        bottom: 1em;
        left: 0;

    }

    &__heading {
        font: {
            family: $avenir;
            size: rem( 22px, true );
        }
        margin: 1em 0 .5em;

        a {
            position: relative;
            color: $black;
            text-decoration: none;

            @include on-event {
                &:after {
                    cursor: pointer;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: .1em;
                    right: 0;
                    height: 1px;
                    background-color: rgba( $bouvet-orange, .5 );
                }
            }
        }
    }

    &__title {
        font: {
            family: $avenir;
            size: rem( 15px, true );
            weight: 300;
        }
        margin: 0 0 .25em;
    }

    &__about {

    }
}