
.featureArticle {
    position: relative;
    z-index: 1;
    background: {
        color: #333;
    }
    padding: 100px 26px 26px; //26px;
    margin: 0 0 26px;

    @include media-large-and-up {
        margin-bottom: 170px;
    }

    @include media-x-large-and-up {
        margin-bottom: 220px;
    }

    @include media-full-and-up {
        margin-bottom: 266px;
    }

    &__bg {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: {
            position: 50% 50%;
            size: 100% 100%;
            size: cover;
            repeat: no-repeat;
        };

        &--1x { display: none; }
        &--2x { display: none; }

        @media ( min-width: 680px ) {
            &--1x { display: block; }
        }

        @media ( min-width: 1200px ) and ( min-resolution: 192dpi ){
            &--1x { display: none; }
            &--2x { display: block; }
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;

        &__btn {
            padding: 0;
            @include imageReplace( 128px, 128px );
            @extend %triangle-svg;
            appearance: none;
            background: {
                color: transparent;
            };
            border: none;
            opacity: .8;
            outline: none;

            @include on-event {
                background: {
                    color: transparent;
                };
                opacity: 1;
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 16px;
                right: 16px;
                width: 20px;
                height: 20px;
                @extend %x-svg;
                background: {
                    repeat: no-repeat;
                    size: 20px auto;
                }
            }
        }


    }

    &__heading {
        margin: 0 0 1em;
        line-height: 1;
        font-size: rem( 50px, true );
    }

    &__preamble {
        position: relative;
        z-index: 2;
        color: $white;
        font-size: rem( 22px, true );
        text-align: center;
        margin: 0 auto 50px;
        max-width: 33em;

        p {
            margin: 0;
        }
    }

    &__articleWrapper {
        position: relative;
        z-index: 2;
    }

    &__article {
        @extend %clearfix;
        background-color: $white;
        padding: 0;
        margin-bottom: 26px;

        @include media-up-to-large {
            margin: 0 -16px 26px;
        }
        @include media-large-and-up {
            margin-bottom: 0;
        }
    }

    &__article__content,
    &__article__aside {
        padding: 16px;

        @include media-large-and-up {
            float: left;
            width: 50%;
            padding: 40px;
        }
    }

    &__quote {
        padding-bottom: 0;

        @include media-large-and-up {
            padding-bottom: 300px;
        }

    }

    &__screen {
        position: relative;
        z-index: 2;
        width: 48%;
        max-width: 591px;
        margin: 0 auto;

        @include media-up-to-small {
            width: 100%;
        }
        @include media-large-and-up {
            position: absolute;
            top: 100%;
            left: 50%;
            margin: -300px 0 0;
        }
    }

    &__links {
        @include listReset;
        margin: 2em 0;

        li {
            display: inline-block;
            margin: 0 30px 16px 0;
        }
    }

}