
.hero {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-start;
    height: 228px;
    padding: 0 50px;

    @include media-up-to-small {
        padding: 0 30px;
    }

    @media ( min-width: 768px ) {
        height: 620px;
    }

    &__img {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: {
            position: 50% 50%;
            size: auto 100%;
            size: cover;
            repeat: no-repeat;
        }

        &--small1x {
            display: block;
        }
        &--small2x,
        &--large1x,
        &--large2x {
            display: none;
        }

        @media ( min-resolution: 192dpi ) and ( min-width: 460px ) {
            &--small2x {
                display: block;
            }
            &--small1x,
            &--large1x,
            &--large2x {
                display: none;
            }
        }

        @media ( min-width: 768px ) {
            &--large1x {
                display: block;
            }
            &--small1x,
            &--small2x,
            &--large2x {
                display: none;
            }
        }

        @media ( min-resolution: 192dpi ) and ( min-width: $max-width ) {
            &--large2x {
                display: block;
            }
            &--small1x,
            &--small2x,
            &--large1x {
                display: none;
            }
        }
    }

    &__imgTxt,
    &__content {
        position: relative;
        z-index: 2;
    }

    &__imgTxt {
        min-height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__content {
        margin: 0 0 20px;

        @include media-small-and-up {
            //margin: -50px 25px 50px;
            margin: -20px 25px 50px;
        }

        @include media-large-and-up {
            //margin: -200px 50px 80px;
            margin: -70px 50px 80px;
            display: flex;
        }
    }

    &__quote,
    &__txt {
        flex-basis: 50%;
    }

    &__quote {
        display: flex;

        @include media-large-and-up {
            margin: 50px 0;
        }

        &__wrap {
            flex-basis: 100%;
        }
    }

    &__txt {
        min-height: 200px;
    }

    &__quote {
        background-color: $black;

        &__wrap {
            color: $white;
            padding: 30px;

            @include media-medium-and-up {
                padding: 70px 70px 70px 50px;
            }
        }

        blockquote {
            &::before {
                content: "“";
            }
            &::after {
                content: "”";
            }
        }
    }

    &__txt {
        background-color: $light-grey;
        padding: 30px;

        @include media-medium-and-up {
            padding: 50px 70px;
        }

    }

    &__svlogo {
        $x: 100px;
        @include imageReplace( $x, $x );
        display: none;
        position: absolute;
        z-index: 3;
        top: 200px;
        right: -40px;
        margin-top: ( $x / 2 ) * -1;
        margin-left: ( $x / 2 ) * -1;

        background: {
            color: $white;
            image: uri("sitevision-logo-txt.svg");
            position: 50% 50%;
            size: ( ( $x + ( $x / 5 ) ) / 2 ) auto;
        }
        border-radius: $x / 2;

        @include media-medium-and-up {
            display: block;
        }
        @include media-large-and-up {
            top: 50%;
            left: 50%;
            right: auto;
        }
    }

    &__heading {
        margin: 0;
        font: {
            size: rem( 70px, true );
            weight: 700;
        }
        color: $white; // $black;

        @include media-up-to-small {
            font-size: rem( 40px, true );
        }
    }

    &__tagline {
        margin: 0;
        font: {
            size: rem( 22px, true );
            weight: 400;
        }
        color: $white; // $black;

        @include media-up-to-small {
            font-size: rem( 18px, true );
        }
    }
}