

.logo {
    @include imageReplace( 82px, 23px );
    background: {
        image: data-uri( "bouvet-logo.svg" );
        position: 50% 50%;
        size: 100% auto;
        repeat: no-repeat;
    }

    .fixed &,
    &--white {
        background: {
            image: data-uri( "bouvet-logo-white.svg" );
        }
    }
}