

.logo {
    @include imageReplace( 82px, 23px );
    @extend %bouvet-logo-svg;
    background: {
        position: 50% 50%;
        size: 100% auto;
        repeat: no-repeat;
    }

    .fixed &,
    &--white {
        @extend %bouvet-logo-white-svg;
    }
}