<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">

    <title>{{ site.name }}</title>

    <link rel="stylesheet" href="assets/main.css">

</head>
<body>

<div class="ct ct--contentwrap">

    <div class="ct ct--std">
        <div class="logo">Bouvet</div>
    </div>

    <div role="main" class="ct ct--std">

        <h1>{{ site.name }}</h1>

        {{ content }}

    </div>

</div>

<!--<script src="assets/main.js"></script>-->

</body>
</html>
