// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

[role=banner] {
    height: 56px;

    > div {
        height: 56px;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -12px;

        @include media-small-and-up {
            left: 24px;
        }
    }

    &.fixed {
        background-color: $black;
        height: 56px;
        min-height: 56px;
        position: fixed;
        z-index: 99999;
        top: -56px;
        left: 0;
        right: 0;
        padding: 0 16px;
        border: none;
    }
}

