// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

[role=banner] {
    height: 56px;
}


.logo {
    @include imageReplace( 82px, 23px );
    background: {
        image: data-uri( "bouvet-logo.svg" );
    }
    position: absolute;
    top: 50%;
    left: 24px;
    margin-top: -12px;
}