
.menuTogglerBtn {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 24px;
    border: none;
    appearance: none;
    background-color: transparent;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: -22px 0 0;
    outline: none;

    @include on-event {
        background-color: transparent;
    }
}

.hamburger {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;

    &__icon {
        top: 50%;
        margin-top: -2px;

        &,
        &:before,
        &:after {
            position: absolute;
            left: 50%;
            margin-left: -10px;
            display: block;
            width: 20px;
            height: 2px;
            background-color: $dark-grey;
            border-radius: 0;//2px;
            transition: transform .3s ease, background-color .3s ease;

            .fixed & {
                background-color: $white;
            }
        }

        &:before,
        &:after {
            content: "";
        }
        &:before {
            top: -6px;

            .menuTogglerBtn:hover .hamburger & {
                top: -7px;
            }
        }
        &:after {
            top: 6px;

            .menuTogglerBtn:hover .hamburger & {
                top: 7px;
            }
        }

        .menuToggler:checked~.menuTogglerBtn & {
            background-color: transparent;

            &:before,
            &:after {
                top: 0;
                background-color: $white;
            }
            &:before {
                transform: rotate( 45deg );
            }
            &:after {
                transform: rotate( -45deg );
            }
        }

    }
}

@keyframes menuFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menuSlideIn {
    0% {
        margin-top: -3em;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes menuSlideOut {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 3em;
    }
}

.menu {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba( 0, 0, 0, .9 );

    align-items: center;
    justify-content: center;

    .menuToggler:checked~& {
        display: flex;
        animation: menuFadeIn .4s cubic-bezier(.455, .03, .4, .955);

        .menu__items {
            animation: menuSlideIn .6s cubic-bezier(.455, .03, .4, .955);
        }
    }

    &__items {
        @include listReset;
    }

    &__item {
        text-align: center;
        margin: 1.5em 0;
    }

    &__itemLnk {
        position: relative;
        z-index: 2;
        display: inline-block;
        font-size: 1.5rem;
        line-height: 1;
        letter-spacing: .1em;
        white-space: nowrap;
        max-width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;

        @include link-visited {
            color: $white;
            text-decoration: none;
        }

        @include on-event {
            text-decoration: none;

            &:after {
                content: "";
                display: block;
                background-color: $white;
                height: 1px;
                position: absolute;
                z-index: 1;
                right: 0;
                bottom: 0; //.1em;
                left: 0;

            }
        }
    }
}

.menu--fadeAway {
    transition: opacity .3s cubic-bezier(.455, .03, .4, .955);
    opacity: 0;

    .menu__items {
        animation: menuSlideOut .5s cubic-bezier(.455, .03, .4, .955) !important;
        margin-top: 5em;
    }
}

