// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
    font: -apple-system-body;
    text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $white;
    color: $black;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font: {
        family: $avenir;
        weight: 300;
        size: rem( 15px, true );
    }
    line-height: ( 20 / 15 );

    &.preventScroll {
        overflow: hidden;
    }

    &.fixed {
        @include media-small-and-up {
            padding-top: 56px; // Space for absolute positioned main menu
        }
    }
}

img {
    border: 0;
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0 0 .5em;
}

a {
    @include link-visited {
        color: $bouvet-orange;
        text-decoration: none;
    }
    @include on-event {
        text-decoration: underline;
    }

}

blockquote {
    margin: 0;
    font: {
        family: $avenir;
        weight: 300;
        size: rem( 22px, true );
    }
}