
// Example. See _buttons.scss for usage.
%triangle-svg {
    background-image: data-uri( "triangle.svg" );
}

%x-svg {
    background-image: data-uri( "x.svg" );
}

%bouvet-logo-svg {
    background-image: data-uri( "bouvet-logo.svg" );
}

%bouvet-logo-white-svg {
    background-image: data-uri( "bouvet-logo-white.svg" );
}
