
%listLinks {
    a {
        @include link-visited( true ) {
            text-decoration: none;
        }
        @include on-event {
            text-decoration: underline;
        }
    }
}

%contentLinks {
    // Content links
    a {
        @include link-visited( true ) {
            text-decoration: none;
        }
        @include on-event {
            text-decoration: underline;
        }
    }
}



