/**
 * Basic typography style for copy text
 */


p {
    margin: 0 0 .5em;
}


h1, h2, h3,
.heading {
    font: {
        family: $rockwell;
        weight: 400;
    }
}

h2 {
    font: {
        weight: 400;
        size: rem( 22px );
    }
    margin: 1em 0 .5em;
}

th {
    font: {
        weight: 400;
        size: rem( 22px );
    }
}

.heading {

    &--large {
        font-size: rem( 50px, true );
    }
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    border-bottom: 1px solid $light-grey;
}

th {
    padding: 10px 0 30px;
}

td {
    padding: 20px 0;
}